/* The Survey */
/* ////////////////////////////////////////*/

header {
    text-align: center;
    background: #2F2F2F;
    background-image: url(surveybg.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    padding: 7%;
    color: whitesmoke;
}

.container-fluid {
    padding: 5% 10%;
}

.num {
    font-weight: bold;
    color: #C62637;
    font-size: 18pt;
}

label {
    font-weight: bold;
}

.button {
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}

footer a {
    color: #2F2F2F;
}

footer a:hover {
    text-decoration: none;
    color: dimgray;
}

/* The Popup */
/* ////////////////////////////////////////*/
.popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.modal {
    height: 60vh;
    width: 60vw;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.photo img {
    width: 300px;

}

.display-name {
    color: #C62637;
}

